body {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    border-bottom: 1px solid #efefef;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 5px;
    width: 720px;
}

.title {
    float: left;
    width: 200px;
    text-align: right;
    padding-right: 10px;
    color: black;
    font-size: 18px;
}

.radio-buttons label {
    float: none;
}

.submit {
    text-align: center;
}

input[type=submit], input[type=reset] {
    padding: 0.lem 0.2em;
    border: 1px solid hsla(0, 0%, 0%, 0.3);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    text-shadow: 0 -1px 0 hsla(0, 0%, 0%, 0.8);
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: rgb(56, 46, 46);
    transition: 0.3s;
}

span {
    color: red;
    font-size: 14px;
}