* {
    margin: 0px auto;
    padding: 0px;
}
.wrapper {
    font-family: 'Times New Roman', Times, serif;
    width: 960px;
    height: 1000px;
    border: 1px solid black;
}
.header {
    background-image: url(../img/nen_header.jpg);
    height: auto;
}
.title {
    position: relative;
    left: -180px;
    bottom: 70px;
    font-size: 12px;
    width: fit-content;
}
.title h2 {
    color: blue;
}
.title h1 {
    color: red;
}
.topnav {
    position: relative;
    float: right;
    top: -140px;
}
.topnav ul {
    list-style-type: none;
}
.topnav ul li {
    display: inline-block;
    margin-right: 10px;
}
.topnav ul li a {
    text-decoration: none;
    color: black;
}
.topnav ul li a:hover {
    color: blue;
}
.search-container input[type=text] {
    font-size: 17px;
    margin-top: 8px;
    padding: 6px;
    border-radius: 5px;
}
.search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.search-container button:hover {
    background: #ccc;
}
.nav {
    margin-top: -40px;
}
.main-nav {
    background-color: #eac54d ;
    height: 60px;
}
.main-nav ul {
    list-style-type: none;
}
.main-nav ul li {
    display: inline-block;
    margin-right: 20px;
}
.main-nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.main-nav ul li a:hover {
    color: red;
}
.sub-nav {
    height: 40px;
}
.sub-nav ul {
    list-style-type: none;
    margin-left: 10px;
    margin-top: 15px;
}
.sub-nav ul li {
    display: inline-block;
}
.sub-nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.sub-nav ul li a:hover {
    color: blue;
}
.section {
    height: auto;
    margin-top: 10px;
    width: 60%;
    float: left;
}
.top {
    background-image: linear-gradient(to bottom, #f9f6c9,#ffffff);
    border: 1px solid black;
    border-bottom: 10px solid #eac54d;
    border-radius: 10px;
    width: 580px;
    margin-left: 10px;
    padding: 20px;
}
.top h3 {
    color: red;
    padding-bottom: 20px;
}
.top table {
    margin-left: 2px;
}
.top table input {
    margin-bottom: 10px;
}
.top table input[type="text"] {
    width: 450px;
    padding: 5px;
    border-radius: 5px;
}
.top table select {
    margin-bottom: 5px;
}
.top table select {
    width: 460px;
    padding: 5px;
    border-radius: 5px;
}
.top table input[type="date"] {
    width: 210px;
    padding: 5px;
    border-radius: 5px;
}
.top table button[type="submit"] {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-weight: bold;
    margin-left: 120px;
}
.bottom {
    border-right: 1px solid black;
    width: 580px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 20px;
}
.line1 {
    background-image: linear-gradient(to bottom, #f9f6c9,#ffffff);
    border: 1px solid black;
    height: 30px;
    width: 600px;
    padding-top: 5px;
    margin-left: -20px;
}
.line1 img {
    width: 20px;
}
.line1 p {
    position: relative;
    font-weight: bold;
    left: 25px;
    top: -22px;
}
.mainText1 {
    margin-left: -20px;
    margin-top: 10px;
}
.subText1 {
    border-right: 1px solid black;
    width: 410px;
    margin-left: 0px;
}
.subText1 p {
    width: 400px;
    margin-left: 0px;
    text-align: justify;
}
.subText1 ul {
    list-style-type: none;
    margin-left: 0px;
}
.subText1 ul li {
    margin-top: 10px;
    display: inline-block;
    margin-right: 20px;
}
.subText1 ul li img {
    width: 20px;
}
.subText1 ul li a {
    text-decoration: none;
    color: red;
    font-size: 15px;
}
.subText2 {
    width: 200px;
    margin-right: -20px;
    margin-top: -120px;
}
.line2 {
    background-image: linear-gradient(to bottom, #f9f6c9,#ffffff);
    border: 1px solid black;
    height: 30px;
    width: 600px;
    padding-top: 5px;
    margin-left: -20px;
    margin-top: 100px;
}
.line2 img {
    width: 20px;
}
.line2 p {
    position: relative;
    font-weight: bold;
    left: 25px;
    top: -22px;
}
.mainText2 {
    margin-left: -20px;
    margin-top: 10px;
}
.subText3 {
    border-right: 1px solid black;
    width: 410px;
    margin-left: 0px;
}
.subText3 p {
    width: 400px;
    margin-left: 0px;
    text-align: justify;
}
.subText4 {
    width: 200px;
    margin-right: -20px;
    margin-top: -70px;
}
.aside {
    height: auto;
    width: 300px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.asideText {
    border: 1px solid black;
    border-bottom: 0px;
    border-top: 6px solid #eac54d;
}
.asideTitle {
    font-weight: bold;
    font-size: 15px;
    padding: 8px;
    border-bottom: 1px solid black;
}
#date {
    font-weight: bold;
    margin-left: 30px;
    margin-top: -25px;
}
#time {
    color: red;
    font-weight: bold;
    margin-top: -17px;
    margin-left: 130px;
}
#text {
    padding: 2px;
}
.text1, .text2, .text3 {
    margin-top: 10px;
    padding: 5px;
}
.tablePic img {
    width: 300px;
}
@keyframes xoay{
    to{
        transform: rotate(360deg);
    }
}
.tablePic img:hover {
    animation: xoay 5s linear;
}
.tablePic p {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    background-color: #eac54d;
    padding: 2px;
    color: red;
    text-shadow: black 1px 1px 1px;
}
.footer {
    position: absolute;
    float: left;
    width: 960px;
    height: fit-content;
    background-color: darkred;
    color: white;
    font-weight: bold;
    margin-top: 640px;
}
.leftFoot {
    height: 135px;
}
.leftFoot img {
    width: 80px;
    margin-top: 30px;
}
.footText1 {
    font-size: 15px;
    width: 500px;
    position: relative;
    left: -130px;
    top: -60px;
}
.rightFoot {
    float: right;
    width: 350px;
    margin-right: -20px;
    margin-top: -100px;
}





