*{
    margin: 0px auto;
    padding: 0px;
}

.container {
    width: 960px;
    height: auto;
    border: 1px solid black;
}

.head {
    background-image: url(../images/nen_header.jpg);
    width: 100%;
    height: 100px;
}

#huyhieu {
    float: left;
    width: 10%;
    margin-top: 10px;
}

.tit{
    float: left;
    margin-left: 10px;
    margin-top: 30px;
}

.right{
    float: right;
    margin-right: 15px
}

.nav{
    background-color: rgb(234,197,77);
    border: 1px solid black;
}
.body{
    width: 100%;
    height: 544px;
}
.section{
    float: left;
    width: 70%;
}

.aside{
    float: right;
    border: 1px solid black;
    width: 25%;
}
.titaside{
    text-align: center;
    border-bottom: 1px solid black;
    background-image: url(../images/nen_header.jpg);
    background-color: antiquewhite;
}
.textaside{
    margin-left: 10px;
}

.section1{
    background-image: url(../images/nen_header.jpg);
    border: 1px solid black;
    border-radius: 5px;
    border-bottom: 5px solid rgb(234,197,77);
}
 
.titsec1{
    background-image: url(../images/nen_header.jpg);
    background-color: rgb(255,254,242);
    border: 1px solid black;
}

.text1{
    float: left;
    border-right:1px solid black;
    padding-right: 5px;
}
.titsec2{
    background-image: url(../images/nen_header.jpg);
    background-color: rgb(255,254,242);
    border: 1px solid black;
}
.text3{
    float: left;
    border-right:1px solid black;
    padding-right: 5px;
}
.section2{
    margin-top: 20px;
    border-right: 1px solid black;
}
.footer{
    background-color: red;
    border-top: 1px solid black;
    height: 80px;
    color: white;
}
.p1 {
    margin-top: 20px;
    margin-left: 8px;
}
.p2{
    margin-top: 20px;
    margin-right: -50px;
}