.hinhsp {
    height: 300px;
    object-fit: cover;
}

.brand-image {
    opacity: 0.3;
    transition: opacity 0.3s ease;
}

.BI {
    padding: 0px;
}

.brand-image:hover {
    opacity: 1;
}

.news-card {
    overflow: hidden;
}

.news-img {
    transition: transform 0.3s ease;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.news-img:hover {
    transform: scale(1.1);
}

.card img {
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card img:hover {
    transform: scale(1.1);
}

.date-badge {
    margin-top: 22px;
    margin-left: 34px;
}

.pro-cart-button {
    margin-left: 10px;
}

.card-footer {
    background-color: white;
    border: none;
}

#news-title {
    color: black;
}

#news-title:hover {
    color: #007bff;
}

#top-product {
    color: dodgerblue;
    /* Change the text color to tomato */
    font-size: 2.5em;
    /* Increase the font size */
    text-align: center;
    /* Center the text */
    font-weight: bold;
    /* Make the text bold */
    text-shadow: 2px 2px 4px #000000;
    /* Add a text shadow */
}