.accordion .accordion-item {
    border: none;
}

.accordion-body {
    padding-bottom: 0px;
}

.accordion-body ul {
    list-style-type: none;
}

.accordion-body ul li a {
    text-decoration: none;
    color: black;
}

.accordion-body ul li a:hover {
    color: blue;
    text-shadow: 0px 0px 1px blue;
}

.accordion-body ul {
    margin-bottom: 0px;
}

.pro-cart-button {
    margin-left: 10px;
}

.card-footer {
    background-color: white;
    border: none;
}