.cart-title {
    color: dodgerblue;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.title-head-cart {
    color: darkblue;
    font-size: 1.5em;
    text-align: left;
    font-weight: bold;
}