*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.container{
    margin: 0 auto;
    width: 1200px;
    height: 700px;
    background-image: url(../html/background.jpg);
    background-repeat: repeat;
}
.khungimg1{
    margin: 0 auto;
    width: 650px;
}
.khungimg2{
    margin: 0 auto;
    width: 550px;
}