* {
    margin: 0px auto;
    padding: 0px;
}
.wrapper {
    width: 1200px;
    height: 700px;
    border: 1px solid black;
}
.header {
    width: 1200px;
    height: 120px;
    border-bottom: 1px solid black;
    background-color: rgb(34, 80, 120);
    color: white;
}
.header img {
    width: 70px;
    height: 90px;
    position: relative;
    top: 17px;
    left: 15px;
}
.header h1 {
    position: relative;
    font-size: 42px;
    left: 90px;
    bottom: 70px;
}
.header h3 {
    position: relative;
    bottom: 71px;
    left: 84px;
    font-size: 18px;
}
.header form {
    position: relative;
    bottom: 150px;
    float: right;
    right: 10px;
}
.header form input {
    width: 200px;
    height: 25px;
    margin-right: 18px;
    background-color: rgb(7, 33, 56);
    color: white;
}
.header form input::placeholder {
    color: white;
}
.header form button {
    width: 31px;
    height: 28px;
    background-color: rgb(7, 33, 56);
    color: white;
}
.menu {
    width: 900px;
    height: 50px;
    position: relative;
    top: -93px;
    left: 305px;
}
.menu ul {
    list-style-type: none;
}
.menu ul li {
    float: left;
}
.menu ul li a {
    width: 120px;
    display: block;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: rgb(51, 92, 150);
    text-align: center;
    margin-left: 20px;
}
.content {
    margin-left: 10px;
    width: 60%;
}
#content-title {
    position: relative;
    font-weight: lighter;
    top: 50px;
    border-bottom: 5px dotted black;
    width: 800px;
    margin-left: 0px;
}
#main-info {
    position: relative;
    width: 340px;
    height: 100px;
    margin-left: 0px;
    top: 30px;
    text-align: justify;
    color: red;
    text-shadow: 5px 5px 5px black;
}
.content form {
    margin-top: 70px;
    float: left;
    margin-right: 30px;
    width: 470px;
    position: relative;
}
.content form input {
    width: 200px;
    margin-right: 10px;
}
