* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Times New Roman", Times, serif;
    background-image: url(../hinh/pattern.png);
    display: flex;
    justify-content: center;
  }
  
  .wrapper {
    width: 960px;
  }
  nav {
    display: flex;
    background-color: rgb(238, 213, 238);
    font-weight: 700;
    gap: 30px;
    height: 60px;
  }
  nav > ul {
    display: flex;
    list-style: none;
    color: violet;
    gap: 30px;
    margin-left: 20px;
  }
  ul a {
    text-decoration: none;
    line-height: 60px;
  }
  #search {
    color: red;
    line-height: 60px;
  }
  nav input,
  button {
    height: 20px;
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 200px;
    gap: 20px;
  }
  #btn-go {
    background-color: blue;
    color: white;
    border: none;
    padding: 3px;
    font-weight: 600;
    box-shadow: 1px 1px 1px black;
  }
  header {
    height: 180px;
    /* margin-bottom: px; */
  }
  
  header img {
    width: 100%;
  }
  
  .main {
    height: 450px;
  }
  /* infor */
  
  section {
    width: 70%;
    padding: 15px;
    background: linear-gradient(
      0.25turn,
      rgb(77, 167, 185),
      white,
      rgb(82, 142, 160)
    );
    float: left;
    height: 454px;
  }
  aside {
    width: 30%;
    display: inline-block;
    background-color: white;
    border: 8px solid gray;
  }
  section h1 {
    color: red;
    text-align: center;
    margin-bottom: 30px;
  }
  .infor {
    width: 47%;
    border-radius: 15px;
    border: 1px solid #ccc;
    height: 100%;
    padding: 0 20px;
    padding-top: 20px;
    height: 290px;
    float: left;
    box-shadow: 3px 3px 3px gray;
  }
  .infor .decide {
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
  }
  .infor .decide input {
      background-color: #ddd;
      border: none;
      border-radius: 10px;
      padding: 6px 15px;
      box-shadow: 2px 2px 2px gray;
  }
  .infor > input {
     margin-bottom: 20px;
  }
  
  section .para {
    width: 50%;
    text-align: justify;
    float: left;
    padding: 0 20px;
    
  }
  
  aside h3 {
    color: red;
    text-shadow: 1px 1px 1px red;
    text-align: center;
  }
  aside img {
    width: 100%;
    margin-bottom: 15px;
    border-top: 2px dotted REd;
  }
  footer{
      background-color: #c6eb0f;
      height: 40px;
      line-height: 40px;
      padding-left: 30px;
  }
  